@charset "utf-8";

/* 全体に関わるところ */
.spacing{
    padding: 30px 0 0 30px;
}

.spacing15{
    padding-top: 15px;
}

h1{
    font-weight: bold;
    color: blueviolet;
}

h2{
    font-weight: bold;
}

.margin{
    margin-top: 15px;
}

button{
    height: 40px;
    padding: 8px 16px;
}


/* ここからheader */
a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: plum;

}

.logo{
    height: auto;
    margin: 0 0 0 30px;
    width: 100px;
    font-size: 40px;
    height: auto;
    color:white;
    font-weight: bold;
}

.gnav_menu {
    display: flex;
}

.gnav_li {
    display: inline-block;
    margin: 50px 50px 50px 0px;
}

/* ここまでheader */


/* preparation */
.debanbg{
    background-color: rgb(231, 229, 229);
    padding: 15px;
    width: 300px;
    height: 200px;
    overflow: scroll;

}


img{
    width: 1000px;
}

.yokonarabi{
    display: flex;
}

.yokomargin{
    margin: 0 60px;
}